.container {
  display: flex;
  justify-content: center;
  background: #f6f6f6;
}

.main {
  margin: 30px;
  padding: 60px;
  flex-basis: 60%;
  border: 2px #ddd solid;
  border-radius: 4px;
  background-color: #fff;
}

.profile {
  text-align: center;
  margin: 15px 0;
}

.profile img {
  width: 200px;
  margin: auto; 
  border-radius: 50%;
}

.skill {
  text-align: center;
  margin: 15px 0;
}

.skill h3 {
  text-align: left;
  margin-bottom: 0;
}

.skillBar {
  box-sizing: border-box;
  height: 24px;
  width: 100%;
  background: #f2f2f2;
}

.skillHTML,
.skillCSS,
.skillJavascript,
.skillPHP,
.skillNodeJS,
.skillSQL,
.skillSleep {
  background: #ddd;
}

.skillHTML {
  width: 80%;
}

.skillCSS {
  width: 50%;
}

.skillJavascript {
  width: 45%;
}

.skillPHP {
  width: 65%;
}

.skillNodeJS {
  width: 30%;
}

.skillSQL {
  width: 75%;
}

.project {
  text-align: center;
  margin: 15px 0;
}

.project p {
  color: #ccc;
}

.eductionExperience {
  display: grid;
  grid-template-columns: 50% 50%;
}

.eductionExperience h2 {
  font-weight: 500;
}

.experience {
  text-align: right;
}

.contact {
  margin: 15px 0;
  text-align: center;
}

.contactHead {
  margin-top: 2rem;
  text-align: center;
}
.contactLink {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.contact img {
  width: 75px;
  margin: 10px auto;
}

.contact img, .contact a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactForm input {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;  
    border: 2px solid #ddd;
    background: #f6f6f6;
    border-radius: 4px;
}

.contactForm textarea {
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 4px;
  background: #f6f6f6;
  resize: none;
}

.contactForm input[type=submit] {
  background: #545E6C;
  color: white;
  padding: 16px 32px;
  margin: 15px 0;
  cursor: pointer;
}

.footer {
  text-align: center;
  background: #f6f6f6;
  font-weight: 300;
  padding-bottom: 20px;

}

.logo {
  height: 12px;
}

@media (max-width: 600px) {
  .main {
    flex-basis: 100%;
    flex-direction: column;
    margin: 0;
    padding: 30px;
    border: none;
  }

  .contactLink {
    display: inline-block;
  }

  .contact img {
    width: 75px;
    margin: 20px auto;
  }
}